@charset "UTF-8";

.container {
	display: grid;
}

#div0 {
	border: 1px solid black;
	height: 120px;
	width: 17%;
	display: grid;
   	place-items: center;
	padding: 2px;
	float: left;
}

#div1 {
	border: 1px solid black;
	height: 120px;
	width: 65%;
	background-color: green;
	padding: 2px;
	float: left;
	display: grid;
   	place-items: center;
}

#divA {
	border: 1px solid black;
	height: 120px;
	width: 15%;
	padding: 2px;
	display: grid;
   	place-items: center;
}

#div3 {
	width: 97%;
	height: 50rem;
	float: left;
	border: 1px solid black;
}

#table1 {
	width: 95%;
	height: 95%;
	margin-left: 15px;
	margin-right: 15px;
}

.div3_tr1 {
	border: 1px solid black;
	background-color: lavender;
}

#div4 {
	width: 15%;
	height: 50rem;
	border: 1px solid black;
	float: left;
}

#div5 {
	border: 1px solid black;
	height: 5rem;
	border: 1px solid black;
	width: 97%;
	display: inline-block;
}